.box {
    background-color: #605B5B;
    padding-bottom: 25px;
    padding-top: 25px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 48px;
    background-color: $buttons-light-color;
    border: 2px solid $main-light-color;
    border-radius: 25px;
    color: $accent-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    padding: 14px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $main-light-color;
        border: 2px solid $accent-color;  
    }
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 48px;
    background-color: $main-dark-color;
    border: 2px solid $main-light-color;
    border-radius: 25px;
    color: $accent-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.02em;
    padding: 14px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $main-light-color;
        border: 2px solid $accent-color;  
    }
}

.room-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 434px;
    height: 64px;
    background-color: $main-dark-color;
    border: 1px solid $accent-color;
    border-radius: 25px;
    color: $main-light-color;
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.208;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 18px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $main-dark-color;  
    }
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 592px;
    height: 64px;
    background-color: $main-dark-color;
    border: 1px solid $accent-color;
    color: $main-light-color;
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.208;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 18px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $main-dark-color;  
    }
}



.modal-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 64px;
    background-color: $main-dark-color;
    border: 1px solid $accent-color;
    border-radius: 25px;
    color: $main-light-color;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 18px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $main-dark-color;  
    }
}

.modal-mobile-button-cor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 64px;
    background-color: $main-dark-color;
    border: 1px solid $accent-color;
    color: $main-light-color;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 18px;

    margin-bottom: 10px;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $main-dark-color;  
    }
}