<div class="box">
    <button type="button" class="header-button">Забронювати столик</button>
<button type="button" class="header-button">Переглянути меню</button>
<button type="button" class="header-button">Переглянути ціни</button>
<button type="button" class="header-button">Забронювати номер</button>
<button type="button" class="page-button">Детальніше</button>
<button type="button" class="page-button">Переглянути ціни</button>
<button type="button" class="page-button">Забронювати столик</button>

<button type="submit" class="room-button">Оформити бронювання</button>

<!-- for modals of desktop and tablet -->

<button type="submit" class="modal-button">Оформити бронювання</button>

<!-- for modals of mobile -->

<button type="submit" class="modal-mobile-button">Оформити бронювання</button>
<button type="submit" class="modal-mobile-button-cor">Оформити бронювання</button>

</div>

